body {
    padding: 0.3em;
}



nav{
    display: flex;
    justify-content: flex-end;
    padding: 0.3em;
    font-size: 1.5rem;
    background-color: rgba(10, 79, 57, 0.9);
    
     
}

 nav a,
    nav a:link,
    nav a:visited{
        text-align: center;
        color: hsla(203, 23%, 42%, 0.95);
    }
    nav a:active,
    nav a:focus,
    nav a:hover{
        color: hsla(203, 23%, 42%, 0.95);
        border-bottom: 1px solid hsla(203, 23%, 42%, 0.95);
}


.bg-1 { 
    color: hsla(0, 100%, 100%, 1);
    padding: 3em;
    max-height: 20em;
    background-image: url("../img/2018_04_25_015_Delhi.jpg");
    background-size: cover;
    width: 100%;
 
    }


img{
   height: 30vh;
  
    
   }

.container{
    align-items:center;
    width: 90vw;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    display: grid;
    
}

i{
	padding-right: 15px;	
}

.form-control{
	
	width: 60vw;
}


form{
    margin: 3em;
	
}

h1{
    display: block;
}

.media{
    margin: 1em;
	padding: 1rem;	
 
}
.media i:active,
    .media i:focus,
    .media i:hover{
        opacity: 0.4;
	/* transition: 1.2s all ease;
  transform: translateY(8px); */
  
    }

h1{
    font-size: 5em;
}

h2{
padding: 20px;
}

@media screen and (min-width: 400px){
	
.form-control{
	
	width: 55vw;
}
	
}

footer{
    background-color: lightgoldenrodyellow;
}

footer li:active,
    footer li:focus,
    footer li:hover{
        opacity: 0.6;
		transition: 1.2s all ease;
  transform: translateY(4px);
    }
