body {
    padding-top: 1em;
}

nav{
    display: flex;
    justify-content: flex-end;
    padding: 0.5em;
     
}

.bg-1 { 
       background-color: #1abc9c; /* Green */
        color: #ffffff;
    padding: 4em;
    }

form{
    margin: 3em;
    
     
}